<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.mobilechatadmin">
  <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="28" />
  <application android:label="MobileChatAdmin.Android"></application>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <application xmlns="urn:schemas-microsoft-com:asm.v3">
    <windowsSettings>
      <longPathAware xmlns="http://schemas.microsoft.com/SMI/2016/WindowsSettings">true</longPathAware>
    </windowsSettings>
  </application>
</manifest>